[package]
name = "{{PROJECT_NAME}}"
version = "0.1.0"
edition = "2024"
rust-version = "1.92"
license = "MIT"
description = "{{PROJECT_NAME}} library"

[lib]
name = "{{PROJECT_NAME}}"

[dependencies]
serde = { version = "1", features = ["derive"] }
